<div class="container">
    <div class="mb-3">
        <label for="userId" class="form-label">Select User</label>
        <select class="form-select" id="userId" [(ngModel)]="userId" (change)="onUserChange()">
            <option value="" selected>Select a user</option>
            <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
        </select>
    </div>

    <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <form *ngIf="!isLoading && userId" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" novalidate
        class="border border-primary rounded p-3 mt-3">
        <fieldset class="mb-3">
            <legend class="text-primary text-center">Enter Details for {{userId}}</legend>
            <div *ngFor="let fieldName of controlOrder" class="mb-3">
                <div
                    *ngIf="getFieldType(fieldName) === 'text' || getFieldType(fieldName) === 'email' || getFieldType(fieldName) === 'password' || getFieldType(fieldName) === 'number'">
                    <label [for]="fieldName" class="form-label">{{ getFieldConfig(fieldName)?.label }}</label>
                    <input class="form-control" [id]="fieldName" [type]="getFieldType(fieldName)"
                        [formControlName]="fieldName"
                        [ngClass]="{'is-invalid': dynamicForm.get(fieldName)?.invalid && (dynamicForm.get(fieldName)?.dirty || dynamicForm.get(fieldName)?.touched)}" />
                    <div *ngIf="dynamicForm.get(fieldName)?.invalid && (dynamicForm.get(fieldName)?.dirty || dynamicForm.get(fieldName)?.touched)"
                        class="invalid-feedback">
                        <div *ngIf="dynamicForm.get(fieldName)?.errors?.['required']">{{
                            getFieldConfig(fieldName)?.label }} is required.</div>
                        <div *ngIf="dynamicForm.get(fieldName)?.errors?.['minlength']">Minimum length for {{
                            getFieldConfig(fieldName)?.label }} is {{
                            dynamicForm.get(fieldName)?.errors?.['minlength']?.requiredLength }}.</div>
                        <div *ngIf="dynamicForm.get(fieldName)?.errors?.['maxlength']">Maximum length for {{
                            getFieldConfig(fieldName)?.label }} is {{
                            dynamicForm.get(fieldName)?.errors?.['maxlength']?.requiredLength }}.</div>
                        <div *ngIf="dynamicForm.get(fieldName)?.errors?.['min']">Minimum value for {{
                            getFieldConfig(fieldName)?.label }} is {{ dynamicForm.get(fieldName)?.errors?.['min']?.min
                            }}.</div>
                        <div *ngIf="dynamicForm.get(fieldName)?.errors?.['max']">Maximum value for {{
                            getFieldConfig(fieldName)?.label }} is {{ dynamicForm.get(fieldName)?.errors?.['max']?.max
                            }}.</div>
                        <div *ngIf="dynamicForm.get(fieldName)?.errors?.['email']">Please enter a valid email address
                            for {{ getFieldConfig(fieldName)?.label }}.</div>
                    </div>
                </div>

                <div *ngIf="getFieldType(fieldName) === 'radio'">
                    <label class="form-label">{{ getFieldConfig(fieldName)?.label }}</label>
                    <div *ngFor="let option of getOptions(fieldName)" class="form-check">
                        <input class="form-check-input"
                            [ngClass]="{'is-invalid': dynamicForm.get(fieldName)?.invalid && (dynamicForm.get(fieldName)?.dirty || dynamicForm.get(fieldName)?.touched)}"
                            type="radio" [id]="fieldName + '-' + option" [formControlName]="fieldName" [value]="option">
                        <label class="form-check-label" [for]="fieldName + '-' + option">{{ option }}</label>
                    </div>
                    <div *ngIf="dynamicForm.get(fieldName)?.invalid && (dynamicForm.get(fieldName)?.dirty || dynamicForm.get(fieldName)?.touched)"
                        class="invalid-feedback d-block">
                        <div *ngIf="dynamicForm.get(fieldName)?.errors?.['required']">{{
                            getFieldConfig(fieldName)?.label }} is required.</div>
                    </div>
                </div>

                <div *ngIf="getFieldType(fieldName) === 'dropdown'">
                    <label [for]="fieldName" class="form-label">{{ getFieldConfig(fieldName)?.label }}</label>
                    <select class="form-select" [id]="fieldName" [formControlName]="fieldName"
                        [ngClass]="{'is-invalid': dynamicForm.get(fieldName)?.invalid && (dynamicForm.get(fieldName)?.dirty || dynamicForm.get(fieldName)?.touched)}">
                        <option *ngFor="let option of getOptions(fieldName)" [value]="option">{{ option }}</option>
                    </select>
                    <div *ngIf="dynamicForm.get(fieldName)?.invalid && (dynamicForm.get(fieldName)?.dirty || dynamicForm.get(fieldName)?.touched)"
                        class="invalid-feedback">
                        <div *ngIf="dynamicForm.get(fieldName)?.errors?.['required']">{{
                            getFieldConfig(fieldName)?.label }} is required.</div>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>